.container {
  font-size: 0.85vw;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 1.8vw;
  }
}

.laptop {
  width: 50rem;
  position: relative;
}
.laptop:before {
  background: #222;
  display: block;
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  top: 0.7em;
  left: 24.5em;
  z-index: 1000;
}
.laptop:after {
  display: block;
  content: "";
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  height: 0.75em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
  border-radius: 5em;
}

.upper {
  width: 40em;
  height: 23em;
  background: #3d4144;
  border: 2px solid #eaeaea;
  border-bottom: none;
  border-radius: 1.5em 1.5em 0 0;
  margin-left: 5em;
  box-shadow: inset 0 0 2px 2px #222;
  position: relative;
}
.upper:before {
  width: 36em;
  height: 19em;
  background-image: url("/userTemp.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: block;
  content: "";
  top: 2em;
  left: 2em;
  position: absolute;
}

.lower {
  width: 50em;
  height: 2em;
  background: #eaeaea;
  border-radius: 2px;
  position: relative;
}
.lower:before {
  display: block;
  content: "";
  position: absolute;
  width: 10em;
  height: 0.8em;
  background: #a1a1a1;
  left: 20em;
  top: 0;
  border-radius: 0 0 0.25em 0.25em;
}
.lower:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.75em;
  background: #bababa;
  top: 2em;
  border-bottom-right-radius: 7.5em 2.5em;
  border-bottom-left-radius: 7.5em 2.5em;
}